<div class="IconInsideButton">	
	<div data-dojo-type="dijit.layout.ContentPane" style="height:91%; margin-top:10px; width:100%;clear: both;">
        <div data-dojo-attach-point="centerContainer" data-dojo-type="dijit.layout.TabContainer"  
        style="width:80%; height:100%; float:left; display:block;" class="centerContainer"></div>
    </div>
</div>
