<div class="IconInsideButton">
<!-- <div data-dojo-attach-point="toolbar"  data-dojo-type="dijit.layout.ContentPane" style="height:6%;float:right"> -->
<!-- <input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:onToolBarClick" -->
	<!-- data-dojo-props="showLabel: false,iconClass: 'gridxToolIcon', title: &quot;New&quot;"/> -->
<!-- </div> -->
<!-- <div style="clear:both"></div> -->

<div data-dojo-attach-point="centerContainer" data-dojo-type="dijit.layout.ContentPane" 
style="height:98%" ></div>

</div>
