<div class="IconInsideButton">	
	
		<div data-dojo-attach-point="toolbar"  data-dojo-type="dijit.layout.ContentPane" style="height:22px;">
			<span style="float:left;z-index:1;position: relative;" class="formHeader" data-dojo-attach-point="titleBar"></span>
			<span style="float:right;z-index:1;position: relative;">			
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:saveForm"
					label = "Save"
					data-dojo-props="showLabel: true,iconClass: 'fa fa-floppy-o',title: &quot;Save&quot;" disabled data-dojo-attach-point="saveBtn"/>
				<!-- input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:saveFormNew"
					label = "Save & New"
					data-dojo-props="showLabel: true,iconClass: 'fa fa-floppy-o',title: &quot;Save & New&quot;" data-dojo-attach-point="saveNewBtn"/ -->
				
				<!-- <input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:editForm"
					label="Edit" disabled="disabled"
					data-dojo-props="showLabel: true,iconClass: 'fa fa-pencil-square-o',title: &quot;Edit&quot;" 
					data-dojo-attach-point="editBtn"/> -->
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:resetForm" style="display: none;"
					data-dojo-props="showLabel: true,iconClass: 'fa fa-refresh',title: &quot;Reset&quot;"  label ="Reset"
					data-dojo-attach-point="resetBtn"/>
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:closeForm" label="close"
					data-dojo-props="showLabel: true,iconClass: 'fa fa-arrow-left',title: &quot;Close&quot;"  data-dojo-attach-point="closeBtn"/>
			</span>
		</div>
	
	<div data-dojo-type="dijit.layout.ContentPane" style="height:91%; margin-top:10px; width:100%;clear: both;">
        <div data-dojo-attach-point="centerContainer" data-dojo-type="dijit.layout.TabContainer"  
        style="width:80%; height:100%; float:left; display:block;" class="centerContainer"></div>
        <!-- <div data-dojo-attach-point="rightContainer"  data-dojo-type="dijit.layout.ContentPane" 
            style="width:18%; 
            float:right; padding-left: 1%;padding-right: 1%; height:100%;"> 
        </div> -->

    </div>
</div>
