<div data-dojo-type="ddm/zui/layout/FieldSet">  
    <div data-dojo-attach-point="fileGrid" ></div>  
  <div data-dojo-type="ddm/zui/layout/FieldSet"  data-dojo-props="title:'Upload',toggleable:true, open:false"  
    class="dijitBorderTop tileLayout " style="height:20%; width:98%;">
    <div data-dojo-attach-point="tusUploader" ></div>      
  </div>
</div>