<div>
  <input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: "
  data-dojo-props="iconClass: 'downloadIcon', showLabel: false, title: &quot;download&quot;"
  aria-label="download"/>
  <input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick: "
  data-dojo-props="iconClass: 'deleteIcon', showLabel: false, title: &quot;delete&quot;"
  aria-label="delete"/>

</div>
