<div class="IconInsideButton" style="margin:5px;">	
	<div data-dojo-attach-point="toolbar"  data-dojo-type="dijit.layout.ContentPane" style="float:right;z-index:1;position:relative">
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:saveForm" label='Save'
			data-dojo-props="showLabel: true,iconClass: 'fa fa-floppy-o',title: &quot;Save&quot;" disabled data-dojo-attach-point="saveBtn"/>
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:editForm" label='Edit'
			data-dojo-props="showLabel: true,iconClass: 'fa fa-pencil-square-o',title: 'Edit'"  data-dojo-attach-point="editBtn"/>
	</div>

	<div data-dojo-attach-point="centerContainer" class="centerContainer"  
	data-dojo-type="dijit/layout/StackContainer" 
		tabStrip="true" style="height:93%;margin-top:0px; width:100%; padding:0px;margin:0px;" ></div>
</div>
