<div style="height:calc(100%); padding-left:0.4%;">
	<div class="IconInsideButton" style="height:100%;">	
		<div data-dojo-attach-point="toolbar"  data-dojo-type="dijit.layout.ContentPane" 
			style="margin:0.5% 1% 0.5% 0%; height:6%;float:right;z-index:8;position:relative">
			<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:saveForm" label='Save'
				data-dojo-props="showLabel: true,iconClass: 'fa fa-floppy-o',title: &quot;Save&quot;" disabled data-dojo-attach-point="saveBtn"/>
			<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:editForm" label='Edit'
				data-dojo-props="showLabel: true,iconClass: 'fa fa-pencil-square-o',title: &quot;Edit&quot;"  data-dojo-attach-point="editBtn"/>

			<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:previousRecord" label='Previous'
				data-dojo-props="showLabel: true,iconClass: 'fa fa-angle-left',title: &quot;Goto Previous Record&quot;"  data-dojo-attach-point="previousBtn"/>

			<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:nextRecord" label='Next'
				data-dojo-props="showLabel: true,iconClass: 'fa fa-angle-right',title: &quot;Goto Next Record&quot;"  data-dojo-attach-point="nextBtn"/>

			<!-- <input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick:resetForm"
				data-dojo-props="showLabel: false,iconClass: 'fa fa-refresh',title: &quot;Reset&quot;"  data-dojo-attach-point="resetBtn"/>		 -->
		</div>

		<div data-dojo-attach-point="centerContainer" class="centerContainer"  data-dojo-type="ddm/zui/layout/TabContainer" 
			tabStrip="true" style="height:95%;margin-top:0px; width:100%;padding: 0.5% 0% 0.7% 0%;" ></div>
	</div>
</div>