<div>
<div style="clear:both"></div>
<div data-dojo-type="dijit.TitlePane" class="titlepaneContainer" data-dojo-props="title:'Menu Rights'" style="height:100%;margin-bottom:20px;">
<div class="treecontent">
 <div data-dojo-attach-point="menuRightsTree" data-dojo-type="dijit.layout.ContentPane">
</div>
</div>
</div>
</div>