<div>

<!--<div  data-dojo-type="dijit/form/DropDownButton" data-dojo-props="width:'100px'">
<div class="dijitdropdownText">
  <span data-dojo-attach-point="label" >CI Type</span>
</div>
</div>-->
<div data-dojo-id="ciDeviceStore_${id}" data-dojo-type="ddm/wire/store/grid/ACLCitStore" 
data-dojo-props="itemId:1,aclType:'cidevice'">
</div>

<!-- Selectors Container-EnD -->
<div style="float:left; width:98%;  float:right;min-height:20px;">
<div  data-dojo-type="dijit.form.FilteringSelect" placeholder="CI Type"
    data-dojo-attach-point="citDrpdwn"
    data-dojo-props="store : ciDeviceStore_${id},searchAttr : 'citName'"
    style="float:right;"  required=false>
</div>
</div>
<div data-dojo-attach-point="ciDeviceGrid">
</div>
</div>