<div class="gridxQuickFilter ${_hasFilterBar}">
	<span class="gridxTopFilter">
			<div style="height:6%; float:left; margin-left:1%;"  class="gridxTitle"
			data-dojo-attach-point="titleBar"></div>
		<!-- <span class="gridxQuickFilterInputContainer" >
			<input type="text" data-dojo-type="${textBoxClass}"	class="gridxQuickFilterInput" data-dojo-attach-point="textBox"
			data-dojo-props="placeHolder: 'Quick Filter', 'aria-label': '${filterLabel}'"/>
			<span class="gridxQuickFilterClear" tabindex='0' role='button' title="${clearButtonTitle}"
				data-dojo-attach-event="ontouchend: _clear, onclick: _clear, onkeydown: _onKey">
				<span class="gridxQuickFilterClearInner">x</span>
			</span>
		</span> -->
		
	
		<div data-dojo-type="ddm/zui/form/DropDownButton">
			<span  ><i class="zuiIcon fa fa-ellipsis-v" aria-hidden="true"></i></span>	
			<div data-dojo-type="dijit/TooltipDialog" style="float:right">		
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: _showFilterBar"
					data-dojo-props="iconClass: 'fa fa-filter', showLabel: false, title: 'Filter'" aria-label="Filter" />
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: clearFilter"
					data-dojo-props="iconClass: 'fa fa-refresh', showLabel: false, title: 'Filter'" aria-label="Clear Filter"/>
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnSearch"		
					data-dojo-props="showLabel: false,title: 'Search &  Add',	iconClass: 'fa fa-plus-circle'"
					data-dojo-attach-event="onClick: searchRecord"/>
			</div>	
		</div>
		
	</span>
</div>

