<div class="gridxQuickFilter ${_hasFilterBar}">
	<span class="gridxTopFilter">
			<div style="height:6%; float:left; margin-left:1%;"  class="gridxTitle"
			data-dojo-attach-point="titleBar"></div>
		<!-- <span class="gridxQuickFilterInputContainer" >
			<input type="text" data-dojo-type="${textBoxClass}"	class="gridxQuickFilterInput" data-dojo-attach-point="textBox"
			data-dojo-props="placeHolder: 'Quick Filter', 'aria-label': '${filterLabel}'"/>
			<span class="gridxQuickFilterClear" tabindex='0' role='button' title="${clearButtonTitle}"
				data-dojo-attach-event="ontouchend: _clear, onclick: _clear, onkeydown: _onKey">
				<span class="gridxQuickFilterClearInner">x</span>
			</span>
		</span> -->
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnAdd"
			data-dojo-attach-event="onClick: showNewRecord"
			data-dojo-props="showLabel: false,title: 'Add New',iconClass: 'fa fa-plus-circle'" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: _showFilterBar"
			data-dojo-props="iconClass: 'fa fa-filter', showLabel: true, title: 'Filter'" aria-label="Filter" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: clearFilter"
			data-dojo-props="iconClass: 'fa fa-refresh', showLabel: true, title: 'Filter'" aria-label="Clear Filter"/>
		<div data-dojo-type="ddm/zui/form/DropDownButton" data-dojo-attach-point="btnOptions">
			<span  ><i class="zuiIcon fa fa-ellipsis-v" aria-hidden="true"></i></span>	
			<div data-dojo-type="dijit/TooltipDialog" style="float:right">				
				<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnDelete"	label="Delete"
					data-dojo-props="showLabel: true,title: 'Delete',	iconClass: 'fas fa-trash'"
					data-dojo-attach-event="onClick: removeRecord"/>
			</div>	
		</div>
		
	</span>
</div>
