<div   data-dojo-type="dijit/layout/ContentPane">
 <div id="fileup" data-dojo-attach-point="file_upload">file</div>
  <!-- <div data-dojo-attach-point="file_Container" data-dojo-type="dijit.layout.ContentPane" style="height:90%"></div> -->
 </div>
