<div>
<div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="filter" id="${id}_filterPane" >
</div>
<div class="gridxFilterDialogButtons">
	<input type="submit" class="btn-solid" data-dojo-type="dijit.form.Button" 
	data-dojo-attach-event="onClick:applyFilter" label="Filter" />
	<input type="button" class="btn-outline" data-dojo-type="dijit.form.Button" 
	data-dojo-attach-event="onClick:clearFilter"  label="Clear"/>
</div>
</div>