<div class="gridxQuickFilter ${_hasFilterBar}">
	<span class="gridxTopFilter">
			<div style="height:6%; float:left; margin-left:1%;"  class="gridxTitle"
			data-dojo-attach-point="titleBar"></div>
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: _showFilterBar"
			data-dojo-props="iconClass: 'fa fa-filter', showLabel: true, title: 'Filter'" aria-label="Filter" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: clearFilter"
			data-dojo-props="iconClass: 'fa fa-refresh', showLabel: true, title: 'Filter'" aria-label="Clear Filter"/>
		
	</span>
</div>
