<div class="gridxQuickFilter ${_hasFilterBar}" >

	
 	<div class="" style="float:left" data-dojo-attach-point="titleBar">df</div>

		<div class="gridxLinkPager gridxPaginationWithStepper" role="toolbar" aria-label="${pagerWai}"
				><span class='gridxPagerStepperBtn gridxPagerPrevPage'
					role='button'
					tabindex='${_tabIndex}'
					title='${prevPageTitle}'
					aria-label='${prevPageTitle}'
					pageindex='prev',
					data-dojo-attach-point='_prevPageBtn'
					data-dojo-attach-event='onclick: _prevPage'
					><span class='gridxPagerA11yInner'>&nbsp;&lt;</span
				></span
				><span class='gridxPagerPages'
					data-dojo-attach-point='_pageBtnContainer'
					data-dojo-attach-event='onclick: _gotoPage, onmouseover: _onHover, onmouseout: _onHover'
				></span
				><span class='gridxPagerStepperBtn gridxPagerNextPage'
					role='button'
					tabindex='${_tabIndex}'
					title='${nextPageTitle}'
					aria-label='${nextPageTitle}'
					pageindex='next',
					data-dojo-attach-point='_nextPageBtn'
					data-dojo-attach-event='onclick: _nextPage'
					><span class='gridxPagerA11yInner'>&nbsp;&gt;</span
				></span
			></div>
	
		<span class="gridxTopFilter" style="float:right">
			
			<span class="gridxQuickFilterInputContainer">
				<input type="text" data-dojo-type="${textBoxClass}"	class="gridxQuickFilterInput" data-dojo-attach-point="textBox" 
				data-dojo-props="placeHolder: 'Quick Filter', 'aria-label': '${filterLabel}'"
			/><span class="gridxQuickFilterClear" tabindex='0' role='button'
				data-dojo-attach-event="ontouchend: _clear, onclick: _clear, onkeydown: _onKey"
				title="${clearButtonTitle}"
				><span class="gridxQuickFilterClearInner">x</span></span>
			</span> 
		
			<div data-dojo-type="ddm/zui/form/DropDownButton" >
					<span  ><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>	
					<div data-dojo-type="dijit/TooltipDialog" style="float:right">			 
						<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: _showFilterBar"
						data-dojo-props="iconClass: 'fa fa-filter',  title: 'Filter'" aria-label="Filter" />
						<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: clearFilter"
							data-dojo-props="iconClass: 'fa fa-refresh', title: 'Filter'" 
							aria-label="Clear Filter" label="Filter"/>
						<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnAdd"
							data-dojo-attach-event="onClick: addRecord" 
							data-dojo-props="showLabel: false,title: 'Add New',iconClass: 'fa fa-plus-circle'" />
						<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnDelete"	data-dojo-attach-event="onClick: removeRecord"
							data-dojo-props="showLabel: false,title: 'Delete',	iconClass: 'fa fa-trash'"/>
					 </div>	
			</div>	
		
		</span>
		
	</div>
	
	