<div class="dijit dijitReset dijitInline dijitLeft" id="widget_${id}" 
    role="presentation">
        <div class="dijitReset dijitLeft dijitButtonNode 
        dijitRightArrowButton dijitArrowButton " style="float:left;"
			data-dojo-attach-point="_buttonNode"
            ><div class="dijitArrowButtonInner"></div>
        </div>
        <span class="dijitReset" 
        data-dojo-attach-point='textbox,focusNode'>
    </span> <span class="fas " style="margin-left:5px; color:burlywood" data-dojo-attach-point='variation'></span>
</div>
