<div>
    <div class="notificationIconWrapper">
        <span class="notificationIconNode"  data-dojo-attach-point="iconNode,focusNode"></i>
        <span class="notificationIconContent" data-dojo-attach-point="contentNode"></span>
    </div>
</div>