<div class="dijit dijitReset dijitInline dijitLeft" role="presentation"
style="text-align: right; ">    
    <span class="zuiIcon" data-dojo-attach-point="currentDay" data-dojo-attach-event="onClick:_setToday">Today</span>
    <span class="zuiIcon" data-dojo-attach-point="YesterDay" data-dojo-attach-event="onClick:_setYesterday">YesterDay</span>
    <span class="zuiIcon" data-dojo-attach-point="lastTwoDays" data-dojo-attach-event="onClick:_setLastTwoDays">Last Two Days</span>
    <span class="zuiIcon" data-dojo-attach-point="lastWeek" data-dojo-attach-event="onClick:_setLastWeek">Last Week</span>

    
    <span class="zuiIcon" data-dojo-attach-point="currentMonth" data-dojo-attach-event="onClick:_setCurrentMonth">Current Month</span>
    <span class="zuiIcon" data-dojo-attach-point="lastMonth" data-dojo-attach-event="onClick:_setLastMonth">Last Month</span>
    <span> Select Range </span>
    <span >
        <input type="date" data-dojo-type="ddm/zui/form/DateTextBox" style="width:100px;"
        data-dojo-attach-point="dateFromTextBox" data-dojo-props="constraints:{  datePattern: 'MM-dd-yyyy'}, placeHolder:'From'" />
        <input type="text"  data-dojo-type="dijit/form/TimeTextBox"  required="true" value="T00:00:00" style="display:none;"
        data-dojo-attach-point="timeFromTextBox"  data-dojo-props="constraints:{  timePattern: 'HH:mm:ss'}, placeHolder:'00:00:00'" />        
        <input type="date" data-dojo-type="ddm/zui/form/DateTextBox" style="width:100px; "
        data-dojo-attach-point="dateToTextBox"  data-dojo-props="constraints:{  datePattern: 'MM-dd-yyyy'}, placeHolder:'To'" />
        <input type="text"  data-dojo-type="dijit/form/TimeTextBox" required="true" value="T23:59:59" style="display:none;"
        data-dojo-attach-point="timeToTextBox" data-dojo-props="constraints:{  timePattern: 'HH:mm:ss'}, placeHolder:'00:00:00'" />
    </span>      
</div>
