<div data-dojo-attach-event='ondijitclick:_onItemClick' class='dijitListEntry' role="presentation">
	<div data-dojo-attach-point='titleNode,focusNode' 
			class='dijitAccordionTitleFocus' role="tab" aria-expanded="false">
		<span role="presentation" data-dojo-attach-point='titleTextNode, textDirNode' class='dijitAccordionText'></span>
	</div>
</div>
