<form  data-dojo-type="dijit.form.Form" data-dojo-attach-event="onSubmit:sendCode">
    <table align="center">
        <tr>
            <td>
                    <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="User Name"
                        data-dojo-attach-point="username" class="username" required
                        missingMessage="Enter user id"  ></div>
            </td>
        </tr>
        <tr>
            <td>
                    <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="Enter email"
                        data-dojo-attach-point="email" class="username" required
                        missingMessage="Enter email id"  ></div>
            </td>
        </tr>
    </table>
    <table class="tbl_btm" cellspacing="10">
            <tr>
                <td>
                    <button type="submit" data-dojo-type="dijit.form.Button" class="login_button btn-solid"
                        data-dojo-attach-point="submitBtn" data-dojo-attach-event="onClick:sendCode">
                        
                    </button>
                </td>
            </tr>
            <tr>
                <td><a class="pass_content" href="index.html">Return to login</a></td>
            </tr>
    </table>
    
</form>