<form data-dojo-type="dijit.form.Form" data-dojo-attach-event="onSubmit:login">
    <table align="center">
        <tr>
            <td>
                <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="User Name"
                    data-dojo-attach-point="username" class="username" required
                    name="userLogin"
                    missingMessage="Enter user id" autocomplete="username" ></div>
            </td>
        </tr>

        <tr>
            <td id = "pass">
                <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="Password"
                    data-dojo-attach-point="passwd" type="password"
                    class="password" required
                    name="password"
                    missingMessage="Enter password" ></div>
            </td>
        </tr>
    </table>
    <table class="tbl_btm" cellspacing="10">
        <!--
            <tr>
                    <td style="text-align: left;"><label><input type="checkbox"> Remember me</label></td>
                    <td><a class="pass_content" href="forgotpassword.html">Forgot password</a></td>
            </tr>
            -->
            <tr>
                    <td>
                        <!--
                        <div data-onsuccess="onSignIn" onclick="signInFlag()" 
                        class="g-signin2"></div>
                        -->
                        <!-- <td><a class="pass_content" href="forgotpassword.html">Forgot password</a></td> -->
                        <td></td>
                    </td>
                    <td id="login">
                        <button type="submit" data-dojo-type="dijit.form.Button" class="login_button btn-solid"
                            data-dojo-attach-point="submitBtn" data-dojo-attach-event="onClick:login">
                            Login
                        </button>
                    </td>
            </tr>
    </table>
    <div class="gsignuppopup" data-dojo-type="dijit/Dialog"  data-dojo-attach-point="gdialog" data-dojo-props="closable:false" 
    title="Phoneno and DOB">
        <!-- <form data-dojo-type="dijit.form.Form" data-dojo-attach-event="onSubmit:GSignUpAdditionalDetails"> -->
            <table class="gsignupcontainer dijitDialogPaneContentArea">
                <tr>
                    <td><label for="name">Phone no:</label></td>
                    <td><input data-dojo-type="dijit/form/NumberTextBox" 
                         required="true" placeholder="Enter phoneno"
                        data-dojo-attach-point="phoneno"
                        missingMessage="Enter valid phoneno"
                        data-dojo-props="
                        maxLength:10,
                        minLength:10" ></td>
                </tr>
                <tr>
                    <td><label for="address">Date of birth:</label></td>
                    <td><input data-dojo-type="dijit/form/DateTextBox" 
                         required="true" placeholder="Select date of birth"
                        data-dojo-attach-point="dob"
                        missingMessage="Select date of birth"></td>
                </tr>

            </table>
            <div class="gsignupsubmit dijitDialogPaneActionBar">
                <button type="submit" data-dojo-type="dijit.form.Button" class="login_button btn-solid"
                            data-dojo-attach-point="submitBtn" data-dojo-attach-event="onClick:GSignUpAdditionalDetails">
                            Submit
                        </button>
            </div>
    </div>
</form>

