<form  data-dojo-type="dijit.form.Form" data-dojo-attach-event="onSubmit:resetPassword">
    <table align="center">
        <tr>
            <td>
                    <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="Enter new password"
                        data-dojo-attach-point="newPassword" class="username" required
                        missingMessage="Enter new password"  ></div>
            </td>
        </tr>
        <tr>
                <td>
                        <div data-dojo-type="dijit.form.ValidationTextBox" placeHolder="Enter confirm password"
                            data-dojo-attach-point="confirmPassword" class="username" required
                            missingMessage="Enter confirm password"  ></div>
                </td>
            </tr>
    </table>
    <table class="tbl_btm" cellspacing="10">
            <tr>
                <td>
                    <button type="submit" data-dojo-type="dijit.form.Button" class="login_button btn-solid"
                        data-dojo-attach-point="submitBtn" data-dojo-attach-event="onClick:resetPassword">
                        Reset Password
                    </button>
                </td>
            </tr>
            <tr>
                <td><a class="pass_content" href="index.html">Return to login</a></td>
            </tr>
    </table>
    
</form>