<form  data-dojo-type="dijit.form.Form" data-dojo-attach-event="onSubmit:verifyCode">
    <table align="center">
        <tr>
            <td>
                    <div data-dojo-type="dijit.form.NumberTextBox" placeHolder="Enter 4- digit code"
                        data-dojo-attach-point="code" class="username" required
                        missingMessage="Enter 4-digit code"  ></div>
            </td>
        </tr>
    </table>
    <table class="tbl_btm" cellspacing="10">
            <tr>
                <td>
                    <button type="submit" data-dojo-type="dijit.form.Button" class="login_button btn-solid"
                        data-dojo-attach-point="submitBtn" data-dojo-attach-event="onClick:verifyCode">
                        Verify Code
                    </button>
                </td>
            </tr>
            <tr>
                <td><a class="pass_content" href="index.html">Return to login</a></td>
            </tr>
    </table>
    
</form>