<div>
	<div style="width:100%; float:left" data-dojo-attach-event="ondijitclick:_onTitleClick, onkeydown:_onTitleKey"
			class="dijitTitlePaneTitle" data-dojo-attach-point="titleBarNode" id="${id}_titleBarNode">
		
		<!-- <div style="float:left;"> -->
		<div style="float:left;" class="dijitTitlePaneTitleFocus" data-dojo-attach-point="focusNode">
			<span data-dojo-attach-point="arrowNode" class="dijitInline dijitArrowNode" role="presentation"></span
			><span data-dojo-attach-point="arrowNodeInner" class="dijitArrowNodeInner"></span
			><span data-dojo-attach-point="titleNode" class="dijitTitlePaneTextNode"></span>
		</div>
		<!-- </div> -->
	 <div style="float:right;" class="dijitTitlePaneTitle">
		<div style="float:right"> &nbsp;</div>
		<div style="float:right" class="dijitTitlePaneTextNode" 
		data-dojo-type="ddm.zui.form.RangeSelector" 
		 data-dojo-attach-point="rangeSelector"></div>
	</div> 
	</div>
	<div class="dijitTitlePaneContentOuter" data-dojo-attach-point="hideNode" role="presentation">
		<div class="dijitReset" data-dojo-attach-point="wipeNode" role="presentation">
			<div class="dijitTitlePaneContentInner"
			 data-dojo-attach-point="containerNode"			
				  role="region" id="${id}_pane" aria-labelledby="${id}_titleBarNode">
										
			</div>
		</div>
	</div>
</div>
