<fieldset style="border:none">   
	<legend data-dojo-attach-event="ondijitclick:_onTitleClick, onkeydown:_onTitleKey"
            data-dojo-attach-point="titleBarNode, titleNode" class="dijitFieldsetLegendNode" >
        <!-- <span style="width:10px; top:8px; position:relative; border-top: 
        1px solid  #cfc2c2; padding:0 10px;" ></span> -->
    	<span data-dojo-attach-point="arrowNode" class="dijitInline dijitArrowNode" role="presentation"></span>
        <span data-dojo-attach-point="arrowNodeInner" class="dijitArrowNodeInner"></span>
        <span data-dojo-attach-point="titleNode, focusNode" 
         id="${id}_titleNode"></span>
        
	</legend>
	<div class="dijitFieldsetContentOuter" data-dojo-attach-point="hideNode" role="presentation" style="z-index: 3">
		<div class="dijitReset" data-dojo-attach-point="wipeNode" role="presentation">
			<div class="dijitFieldsetContentInner" data-dojo-attach-point="containerNode" role="region"
				 	id="${id}_pane" aria-labelledby="${id}_titleNode">
				<!-- nested divs because wipeIn()/wipeOut() doesn't work right on node w/padding etc.  Put padding on inner div. -->
			</div>
		</div>
    </div>
</fieldset>
