
<div class="headercontent">
	<div class="head" data-dojo-type="dijit/form/DropDownButton">
		<span class="headercontent" style="text-transform: capitalize" data-dojo-attach-point="userName" ></span>	
			<div data-dojo-type="dijit/TooltipDialog" style="float:right">			
					<div  class="changepswd"  data-dojo-attach-event="onClick:showDialog">Change Password</div>
					<div class="changefacility" data-dojo-attach-event="onClick:showFacilityDialog">Change Facility</div>
					<div class="logout" data-dojo-attach-event="onClick:logout" >Logout</div>
			</div>		
	</div>
	<!--
	<div class="toolpane" data-dojo-type="dijit/form/DropDownButton" title="" 
			data-dojo-attach-event="onClick:recentpageViews" >
		<span>Recent Views </span>
		<div data-dojo-type="dijit/TooltipDialog" style="min-width:120px;">
			<span data-dojo-attach-point="recentview" ></span>
			<div 
			 data-dojo-props='containerId : "workArea", tabPosition: "left-h"' 
			  id="tabcontroller"  ></div>
		</div>
		
	</div>
	-->
	<!--
	<div class="toolpane"><div data-dojo-type="dijit/form/FilteringSelect" placeholder="Search Patient" 
		data-dojo-attach-point="patientLookup" 
		style="border: 0; font-size: 12px; width:100px; margin-right: -12px; margin-top: 4px; "></div></div>
	 <div class="toolpane" data-dojo-type="dijit/form/DropDownButton">
		<span data-dojo-attach-point="menuPopup" >Menu</span>	
			<div data-dojo-type="dijit/TooltipDialog" style="float:right" >			
				<div  data-dojo-type="ddm/fluwiz/widget/AccordionMenu" 
				  ></div>
			</div>		
	</div> -->
	
</div>

