<div class="gridxQuickFilter ${_hasFilterBar}" >
	<span class="gridxFilterBarHeader" data-dojo-attach-point="titleBar"></span>
	<span class="gridxTopFilter" style="float:right" style="height:22px; font-size:14px;">		
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnExportXLS"
			data-dojo-attach-event="onClick: downloadXLS"  label ="Export"
			data-dojo-props="title: 'Add New',iconClass: 'far fa-file-excel'" />
	</span>
</div>