<div class="gridxQuickFilter ${_hasFilterBar}">
	<span class="gridxFilterBarHeader" data-dojo-attach-point="titleBar"></span>
	<span class="gridxTopFilter" style="float:right" style="height:22px; font-size:14px;">
		<span class="gridxQuickFilterInputContainer">
			<input type="text" data-dojo-type="${textBoxClass}" class="gridxQuickFilterInput"
				data-dojo-attach-point="textBox"
				data-dojo-props="placeHolder: '${filterPlaceHolder}', 'aria-label': '${filterLabel}'" />
			<span class="gridxQuickFilterClear" tabindex='0' role='button' title="${clearButtonTitle}"
				data-dojo-attach-event="ontouchend: _clear, onclick: _clear, onkeydown: _onKey">
				<span class="gridxQuickFilterClearInner">x</span>
			</span>
		</span>

		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: _showFilterBar"
			label="Filter" data-dojo-props="iconClass: 'fa fa-filter',  title: 'Filter'" aria-label="Filter" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: clearFilter"
			label="Clear" data-dojo-props="iconClass: 'fa fa-filter',  title: 'Clear'" aria-label="Clear Filter" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-event="onClick: refresh"
			data-dojo-props="iconClass: 'fa fa-refresh', title: 'Refresh'" aria-label="Refresh Data" label="Refresh" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnAdd"
			data-dojo-attach-event="onClick: addRecord" label="New"
			data-dojo-props="title: 'Add New',iconClass: 'fa fa-plus-circle'" />
		<input type="button" data-dojo-type="ddm.zui.form.Icon" data-dojo-attach-point="btnExportXLS"
			data-dojo-attach-event="onClick: downloadXLS" label="Export"
			data-dojo-props="title: 'Add New',iconClass: 'far fa-file-excel'" />
	</span>
</div>