<div>
        <div style="padding:10% 20% 10% 20% ;" >
        <div 
           data-dojo-type="dijit/form/Select" 
           data-dojo-attach-point="facility" 
        
           >
        </div>
        </div>
        <div class="gridxFilterDialogButtons">
            <input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:onSubmit" label="ok" />
            <!--<input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:onClear"  label="Cancel"/>-->
        </div>
    </div>