<div>
<div data-dojo-type="dojox.layout.TableContainer" data-dojo-attach-point="fields">

<input data-dojo-type="dijit.form.TextBox" title="Name" name="username" data-dojo-attach-point="username"/>
<input data-dojo-type="dijit.form.NumberTextBox" title="Employee" name="empNumber" data-dojo-attach-point="empNumber"/>

<input type="radio" name="gender" id="male" value="male" data-dojo-type="dijit/form/RadioButton" title="Male"/>
<input type="radio" name="gender" id="female" value="female" data-dojo-type="dijit/form/RadioButton" title="Female"/>

<input data-dojo-type="dijit.form.ValidationTextBox" title="PhoneNumber" name="phoneno" 
pattern="^[\+][0-9]*$" />

<div data-dojo-id="custStore_${id}" data-dojo-type="ddm/store/JsonRestStore"  
data-dojo-props="target : '${customerDataUrl}', idProperty : 'custname'"></div>

<div data-dojo-type="dijit.form.Select" data-dojo-attach-point="customer" style="width:15em"
data-dojo-props="store : custStore_${id},	labelAttr : 'friendlyname'" title="Organization" name="org"></div>

<select  data-dojo-type="dijit/form/Select" title="Department" style="width:15em" name="depart">
	<option value="WNMS" selected="selected">WNMS</option>
    <option value="XMC" >XMC</option>
    <option value="SNMP">SNMP</option>
</select >

</div>

<button type="submit" data-dojo-type="dijit.form.Button"  data-dojo-attach-point="submitBtn" 
data-dojo-attach-event="onClick:createRecord"  class="login_button">Login</button>

</div>