<div>
	<div data-dojo-type="dojox/layout/TableContainer" data-dojo-props="cols:1" >		
		<input data-dojo-type="dijit/form/ValidationTextBox" title="New Password:" type="password"  data-dojo-props="required:true"   data-dojo-attach-point="nPass"  placeHolder= "Enter your New Password">
		<input data-dojo-type="dijit/form/ValidationTextBox" title="Confirm New Password:" type="password" data-dojo-attach-point="rPass"   placeHolder= "Confirm your New Password" data-dojo-props="required:true">
	</div>
	<div class="gridxFilterDialogButtons" style="float: right; padding:0px 2px 5px 5px;">
		<input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:onSubmit" label="Reset" />
		<input type="button" data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:onClear"  label="Clear"/>
	</div>
</div>