<div class="datetime">
  <input type="date" data-dojo-type="ddm/zui/form/DateTextBox"
  data-dojo-attach-point="dateFromTextBox" data-dojo-props="constraints:{  datePattern: 'dd-MM-yyyy'}, placeHolder:'From'" />
  <span>-</span>
  <input type="date" data-dojo-type="ddm/zui/form/DateTextBox"
  data-dojo-attach-point="dateToTextBox" data-dojo-props="constraints:{  datePattern: 'dd-MM-yyyy'}, placeHolder:'To'" />
</div>
