<div class="datetime">
  <input type="date" data-dojo-type="ddm/zui/form/DateTextBox"
  data-dojo-attach-point="dateFromTextBox" data-dojo-props="constraints:{  datePattern: 'MM-dd-yyyy'}, placeHolder:'From'" />
  <input type="text"  data-dojo-type="dijit/form/TimeTextBox"  required="true" value="T00:00:00"
  data-dojo-attach-point="timeFromTextBox"  data-dojo-props="constraints:{  timePattern: 'HH:mm:ss'}, placeHolder:'00:00:00'" />
  <br>
  <input type="date" data-dojo-type="ddm/zui/form/DateTextBox"
  data-dojo-attach-point="dateToTextBox"  data-dojo-props="constraints:{  datePattern: 'MM-dd-yyyy'}, placeHolder:'To'" />
  <input type="text"  data-dojo-type="dijit/form/TimeTextBox" required="true" value="T23:59:59"
  data-dojo-attach-point="timeToTextBox" data-dojo-props="constraints:{  timePattern: 'HH:mm:ss'}, placeHolder:'00:00:00'" />
</div>
