<span class="dijit dijitReset dijitInline"
	><span class='dijitReset dijitInline dijitButtonNode'
		data-dojo-attach-event="ondijitclick:__onClick" data-dojo-attach-point="_buttonNode"
		><span class="dijitReset dijitStretch dijitButtonContents"
			data-dojo-attach-point="focusNode,titleNode,_arrowWrapperNode,_popupStateNode"
			role="button" aria-haspopup="true" aria-labelledby="${id}_label"
			><span class="dijitReset dijitInline dijitIcon"
				data-dojo-attach-point="iconNode"
			></span
			><span class="dijitReset dijitInline dijitButtonText"
				data-dojo-attach-point="containerNode"
				id="${id}_label"
			></span></span></span
	><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen" tabIndex="-1"
		data-dojo-attach-event="onclick:_onClick" data-dojo-attach-point="valueNode" aria-hidden="true"
/></span>
