<div>    
  <form method="post"  id="myForm" enctype="multipart/form-data">
    <div  data-dojo-type="dojox/form/uploader/FileList" data-dojo-props="uploaderId: '${id}_uploader'" data-dojo-attach-point="FileListzone"></div>
    <div class="formsubmission">
      <input name="uploadedfile" multiple="true" type="file" id="${id}_uploader" data-dojo-attach-point="uploaderzone"
      data-dojo-type="ddm/zui/form/TusUploader" data-dojo-props="label: 'Select Files'" class="Fileuploadselect">
    
      <input type="button" label="Upload" data-dojo-type="dijit/form/Button" class="Fileupload" data-dojo-attach-event="onClick:uploadFile">
    </div>
  </form>
</div>