<span class="dijit dijitReset dijitInline" role="presentation"
	><span class="zuiIconNode"
		data-dojo-attach-event="ondijitclick:__onClick" role="presentation"
		><span class=" zuiIconContents"
			data-dojo-attach-point="titleNode,focusNode"
			role="button" aria-labelledby="${id}_label"
			><span class="dijitIcon zuiIconChar" data-dojo-attach-point="iconNode"></span
			><span class="dijitReset dijitToggleButtonIconChar">&#x25CF;</span
			><span class="dijitReset dijitInline zuiIconText"
				id="${id}_label"
				data-dojo-attach-point="containerNode"
			></span
		></span
	></span
	><input ${!nameAttrSetting} type="${type}" value="${value}" class="dijitOffScreen"
		data-dojo-attach-event="onclick:_onClick"
		tabIndex="-1" aria-hidden="true" data-dojo-attach-point="valueNode"
/></span>
