<div class="dijit dijitReset dijitInline dijitLeft" id="widget_${id}" role="presentation"
    >
    <div class="dijitReset dijitButtonNode "
        ><div class="dijitReset dijitLeft dijitButtonNode 
        dijitRightArrowButton dijitArrowButton "
			data-dojo-attach-point="_buttonNode"
			><div class="dijitArrowButtonInner"></div
		></div
		></div>
    <div class="dijitReset dijitInputField dijitInputContainer"
		><input class="dijitReset dijitInputInner" data-dojo-attach-point='textbox,focusNode' autocomplete="off"
			${!nameAttrSetting} type='${type}'
    />
</div>
</div>
