<div>
<div data-dojo-type="dijit/form/DropDownButton">
  <div class="dijitdropdownText">
  <span data-dojo-attach-point="label">df</span>
  </div>
  <div data-dojo-type="dijit/TooltipDialog">
     <div>
	<table><tr> 	
        <td><input type="radio" name="datewise" data-dojo-attach-point="dwToday" value="today" 
            data-dojo-attach-event="onChange:dwTodayChange" data-dojo-type="dijit/form/RadioButton"/><label for="today">Today</label></td> 
        <td><input type="radio" name="datewise" data-dojo-attach-point="dwyesterday" value="yesterday" 
            data-dojo-attach-event="onChange:dwYesterdayChange" data-dojo-type="dijit/form/RadioButton"/><label for="yesterday">Yesterday</label></td> 
	</tr>
	<tr>
        <td><input type="radio" name="datewise" data-dojo-attach-point="dwlweek" value="dwlweek" 
            data-dojo-attach-event="onChange:dwLweekChange" data-dojo-type="dijit/form/RadioButton"/><label for="dwlweek">Last 7 days</label></td>
        <td><input type="radio" name="datewise" data-dojo-attach-point="dwlmonth" value="dwlmonth" 
            data-dojo-attach-event="onChange:dwLmonthChange" data-dojo-type="dijit/form/RadioButton"/><label for="dwlmonth">Last 30 days</label></td>
    </tr>
    </table>
    <table>
	<tr>   
		<td colspan=2><input type="radio" name="datewise" data-dojo-attach-point="dwcustom" value="custom" data-dojo-type="dijit/form/RadioButton"
		 data-dojo-attach-event="onChange:updateCustomDate"/><label for="custom">Custom</label></td>
     </tr>
		<tr><td>From</td><td><input type="text" name="fromDate" style="width:14em" data-dojo-type="ddm.zui.form.TimestampTextBox"
		data-dojo-attach-point="dwFromDate" title="From" disabled data-dojo-attach-event="onChange:updateDate"></input></td></tr>
        <tr><td>To</td><td ><input type="text" name="toDate" 
            data-dojo-type="ddm.zui.form.TimestampTextBox"  style="width:14em"
		data-dojo-attach-point="dwToDate" title="To" disabled data-dojo-attach-event="onChange:updateDate"></input></td></tr>
	</table>
	</div> 
  </div>
</div>
</div>