<div style="float:left">
  <input type="date" data-dojo-type="dijit/form/DateTextBox" style="width: 52%; float:left"
  data-dojo-attach-point="dateTextBox" data-dojo-props="constraints:{  datePattern: 'MM-dd-yyyy'}, placeHolder:'mm-dd-yyyy'" />
  <input type="text" data-dojo-type="dijit/form/TimeTextBox" style="width: 44%; float:left"  
  data-dojo-attach-point="timeTextBox" data-dojo-props="constraints:{  timePattern: 'HH:mm:ss'}, placeHolder:'00:00:00'" />
</div>